<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beyond The Boundary</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <div class="sides">
        <a href="#" class="logo">Cricket Player Substitution</a>
      </div>
      <div class="sides">
        <a href="" class="menu"></a>
      </div>
      <div class="info">
        <h4><a href="#category"></a></h4>
        <h1>Beyond The Boundary</h1>
        <div class="meta">
          <a href="{{ url_for('form') }}"
            ><button class="next_page">Go to Prediction Form</button></a
          >
        </div>
      </div>
    </div>
    <section class="content">
      <p>
        Cricket is a bat-and-ball game played between two teams, each consisting
        of eleven players. The game is played on a field with a 22-yard
        rectangular pitch at the center. Each end of the pitch features a
        wicket, composed of two bails balanced on three stumps1. The objective
        of the game is to score more runs than the opposing team. A match is
        divided into innings during which one team bats and the other bowls2.
        The batting team tries to score runs by hitting the ball and running
        between the wickets, while the bowling team attempts to restrict runs
        and dismiss the batters1. Cricket is popular worldwide, particularly in
        countries of the Commonwealth, and is governed by the International
        Cricket Council1. It has various formats including Test matches, One Day
        Internationals (ODIs), and Twenty20 Internationals1. Each format
        requires different strategies and skills, adding to the complexity and
        appeal of the game1.
      </p>
      <p align="center">
        <a
          href="https://www.linkedin.com/in/pranav-kumar-279a741a0/"
          class="btn lnkdn"
          target="_blank"
          >LinkedIn</a
        >
      </p>
    </section>
  </body>
</html>
